<template>
    <div class="container"> 
        <div v-bind:class="{ succmsg: succmsg }">
            <div class="col-md-12 col-lg-12"> 
                <div class="alert alert-success"> Client Added!</div>
            </div>
        </div>
        <div class="row">   
            <div class="col-md-7 col-lg-7 offset-md-3">
                <form method = "post" name="addclient" id="addclient" action="#" enctype="multipart/form-data" @submit.prevent="addClient">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Name" v-model="client.name"/>

                        {{ client.name }}
                    </div>

                     <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" name="address" id="address" class="form-control" placeholder="Address" v-model="client.address"/>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email" v-model="client.email"/>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <select class="form-control" name="phone" id="phone" v-model="client.phone">
                            <option value="1">123456</option>
                            <option value="2">64536</option>
                            <option value="3">98745</option>
                            <option value="4">564789</option>
                        </select>
                    </div>

                    <div class="form-group text-right">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
                  
            </div>
        </div>
    </div>
</template>

<script>
export default{
    data() {
        return{
            client:{
                'name':'',
                'address':'',
                'email':'',
                'phone':''
            },
            succmsg: true,
        }
    },
    methods: {
        addClient(){
            this.$http.post('http://127.0.0.1:8000/api/clients', {
                'name' : this.client.name,
                'address' : this.client.address,
                'email' : this.client.email,
                'phone' : this.client.phone
            }).
            then((data)=>{
                this.succmsg = false;
                console.log(data);
                this.client.name = '';
                this.client.address ='';
                this.client.email='';
                this.client.phone='';
                var self = this;
                setTimeout(function(){
                    self.succmsg = true;
                },3000);
            });
        }
    },
    computed: {

    }
}
</script>

<style scoped>
    .succmsg{
        display: none;
    }
</style>