<template>
    <div id="postsrec">
        <div class="row justify-content-center">
            <div v-bind:class="{ succmsg: succmsg }">
                <div class="col-md-12 col-lg-12">
                    <div class="alert alert-success cusmsg">{{ actionmsg }}</div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" v-bind:class="{ showmodal:showmodal }">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" name="addclient" id="addclient" action ="#" @submit.prevent="updateClient">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" name="cname" id="cname" class="form-control" placeholder="Name" v-model="client.name"/>
                                        {{ client.name }}
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" name="address" id="address" class="form-control" placeholder="Address" v-model="client.address"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" class="form-control" placeholder="Email" v-model="client.email"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <select class="form-control" name="phone" id="phone" v-model="client.phone">
                                            <option value="1">123456</option>
                                            <option value="2">64536</option>
                                            <option value="3">98745</option>
                                            <option value="4">564789</option>
                                        </select>
                                    </div>

                                    <div class="form-group text-right">
                                        <button class="btn btn-success">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <div class="form-group">
                                        <p>Are you sure want to delete the record?</p>
                                    </div>
                                      <div class="form-group text-center">
                                        <button class="btn btn-success" v-on:click="hideModal()">Cancel</button>
                                    </div>
                                    <div class="form-group text-center">
                                        <button class="btn btn-success" v-on:click="deleteClient()">Ok</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">CLIENT LIST</div>
                    <div class="card-body">
                        <table class="table table-striped" v-bind:pagenumber = "pagenumber">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col" colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="client in laravelData.data" :key="client.id">
                                    <th scope="row">{{client.name}}</th>
                                    <td>{{client.address.slice(0,10) + "...."}}</td>
                                    <td>{{client.email}}</td>
                                    <td>{{client.phone}}</td>
                                    <td><a href="#" v-on:click="editClient(client.id)" data-target="#exampleModal" data-toggle="modal" v-bind:name="client.name">Edit</a></td>
                                    <td><a href="#" data-target="#exampleModal2" v-on:click="deleteId(client.id)" data-toggle="modal" v-bind:id="id">Delete</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination :data="laravelData" :limit="2" @pagination-change-page="clientLists" v-bind:style="{background: black}">
                            <span slot="prev-nav">&lt; Previous</span>
                            <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    data() {
        return {
            client: {
                "name" :'',
                "address":'',
                "email":'',
                "phone":''
            },
            laravelData: {},
            id: '',
            succmsg: true,
            showmodal: false,
            pagenumber:1,
            actionmsg:'',
        }
    },
    methods: {
        clientLists(page) {
            if(typeof page === 'undefined'){
                page=1;
            }
            this.$http.get('http://127.0.0.1:8000/api/clients?page=' + page).then((response) => {
                this.laravelData = response.data;
                this.pagenumber = page;
            });
        },
        editClient(clientid){
            this.$http.get('http://127.0.0.1:8000/api/clients/' + clientid).
                then((data) => {
                    this.client.name =data.data.data.name;
                    this.client.address = data.data.data.address;
                    this.client.email = data.data.data.email;
                    this.client.phone = data.data.data.phone;
                    this.id = clientid;
            });
        },
        updateClient(){
            this.$http.put('http://127.0.0.1:8000/api/clients/'+this.id, {
                'name':this.client.name,
                'address':this.client.address,
                'email':this.client.email,
                'phone':this.client.phone
            }).
            then((data) => {
                this.succmsg = false;
                console.log(data);
                this.client.name = '';
                this.client.address ='';
                this.client.email='';
                this.client.phone='';
                var self = this;
                setTimeout(function(){
                    self.succmsg = true;
                },3000);
                this.actionmsg = "Data Updated successfully";
                $('#exampleModal').modal('hide');
                this.clientLists(this.pagenumber);
            });
        },
        deleteId(clientid){
            this.id=clientid;
        },
        deleteClient(){
            this.$http.delete('http://127.0.0.1:8000/api/clients/'+this.id).
                then((data)=>{
                    this.succmsg=false;
                    var self=this;
                    setTimeout(function(){
                        self.succmsg = true;
                    },3000);
                    this.actionmsg = "Data Deleted successfully";
                    this.clientLists(this.pagenumber);
                    $('#exampleModal2').modal('hide');
                });
        },
        hideModal(){
            $('#exampleModal2').modal('hide');
        },
    },
    mounted(){
        this.clientLists();
    }
}
</script>

<style scoped>
    .succmsg{
        display: none;
    }

    .showmodal{
        display: none !important;
        opacity: 0;
    }
</style>
